header {
  margin-top: 24px;
}

main {
  display: flex;
  justify-content: center;
  height: min-content;
}

.task_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 480px;
  margin-right: 4px;
  border: 4px solid white;
  border-radius: 10px;
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 4px solid white;
  margin-top: 4px;
  border-radius: 10px;
  padding: 0 8px;
  min-height: 120px;
}

.task_list h1 {
  padding: 16px 24px;
  border-bottom: 2px solid white;
}

.task_list h3 {
  max-height: 24px;
  width: 100%;
  padding: 4px 0;
  border-top: 2px solid white;
}

ul::-webkit-scrollbar {
  width: 6px;
}
ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #c9dcfa, white);;
}

li {
  margin: 8px 0;
  width: 90%;
  padding: 4px;
  border: 1px solid white;
  border-radius: 10px;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 104px;
  width: 424px;
  padding: 30px;
  border: 4px solid white;
  border-radius: 10px;
}
section:hover span {
  opacity: 0.3;
}
section:hover span:hover {
  opacity: 1;
}
input[type="checkbox"] {
  height: 18px;
  width: 18px;
  cursor: pointer;
}
input[type="checkbox"]:checked ~ .task_status {
  display: initial;
  text-decoration: line-through;
  color: grey;
}
.date.overdue_date {
  color: red;
}
input[type="checkbox"]:checked ~ .date.overdue_date {
  color: white;
}
.task_description {
  font-size: 16px;
  display: flex;
  justify-content: center;
  color:white;
}
.status_button {
  margin-top: 16px;
  background-color: black;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  opacity: 0.8;
  cursor: pointer;
  width: 200px;
  height: 50px;
}
.hide .completed_task{
  display: none;
}
.status_button:hover {
  opacity: 1;
}
.status_button::after {
  margin-top: 18px;
}
.date {
  color: white;
  opacity: 0.8;
}
p {
  display: flex;
  width: 90%;
  justify-content: space-between;
  color:#aeff9a;
  margin: 0;
  padding: 5px;
  font-weight: 900;
  font-size: 24px;
  text-align: left;
}
em {
  font-style: normal;
}
span {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 20px;
  width: 20px;
  opacity: 0;
  transform: rotate(45deg);
  cursor: pointer;
}
span::before, span::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: white;
}
span::before {
  margin-top: 38%;
  height: 20%;
  width: 100%;
}
span::after {
  margin-left: 38%;
  height: 100%;
  width: 20%;
}