header {
  margin-top: 24px;
}

main {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
}

.task_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  width: 200px;
  border-right: 4px solid white;
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list_tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
}

form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-top: 4px solid white;
  height: 80px;
}
form * {
  background-color: #c9dcfa;
  border: 2px solid rgb(174, 175, 253);
  border-radius: 10px;
  height: 32px;
}
form input {
  width: 20%;
}
form button {
  padding: 4px;
  cursor: pointer;
  height: 36px;
}

.task_list h1 {
  padding: 16px 24px;
  border-bottom: 2px solid white;
}

.task_list h3 {
  max-height: 24px;
  width: 100%;
  padding: 4px 0;
  border-top: 2px solid white;
}

ul::-webkit-scrollbar {
  width: 6px;
}
ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #c9dcfa, white);;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  width: 90%;
  opacity: 0.6;
  min-height: 40px;
  border: 1px solid white;
  border-radius: 10px;
}

li:hover {
  opacity: 1;
  cursor: pointer;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 6px;
  height: 200px;
  width: 440px;
  padding: 30px;
  opacity: 0.6;
  border: 4px solid white;
  border-radius: 10px;
}

.task a {
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.task:hover {
  opacity: 1;
}
.task:hover span {
  opacity: 0.3;
}
.task:hover span:hover {
  opacity: 1;
}
input[type="checkbox"] {
  height: 18px;
  width: 18px;
  align-self: center;
  cursor: pointer;
}
input[type="checkbox"]:checked ~ .task_status {
  display: initial;
  text-decoration: line-through;
  color: grey;
}
.date.expired {
  color: red;
}
input[type="checkbox"]:checked ~ .date.expired {
  color: white;
}
.task_description {
  font-size: 16px;
  max-height: 130px;
  display: flex;
  justify-content: center;
  color:white;
  overflow-y: scroll;
}

.task_description::-webkit-scrollbar {
  width: 6px;
}
.task_description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #c9dcfa, white);;
}

.date {
  color: white;
  opacity: 0.8;
}

.state {
  justify-content: center;
}


.active {
  color: aqua;
}
p {
  display: flex;
  width: 90%;
  justify-content: space-between;
  color:#b8d3ff;
  margin: 0;
  padding: 5px;
  font-weight: 900;
  font-size: 24px;
  text-align: left;
}
em {
  font-style: normal;
}
span {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 20px;
  width: 20px;
  opacity: 0;
  transform: rotate(45deg);
  cursor: pointer;
}
span::before, span::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: white;
}
span::before {
  margin-top: 38%;
  height: 20%;
  width: 100%;
}
span::after {
  margin-left: 38%;
  height: 100%;
  width: 20%;
}