* {
  padding: 0;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  height: 100%;
  width: 95%;
  overflow-y:scroll;
}

a:active, a:hover, a {
  text-decoration: none;
  color: white;
}

body, #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
}
